@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');

body {
    font-family: 'Mukta', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.form-input {
    width: 100%;
    padding: 12px;
    border: 2px solid #e5e7eb;
    border-radius: 12px;
    outline: none;
    font-size: 14px;
}

.small-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    outline: none;
    font-size: 12px;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    z-index: 50;
    overflow-y: auto;
    padding: 10px;
}

.custom-scroll::-webkit-scrollbar {
    width: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background: #fb923c;
    border-radius: 10px;
}
